* {
    margin: 8px;
    padding: 0;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
  }

  img {
    width: 100px;
    margin: 0;
    display: block;
  }

  nav {
    float: none;
    background-color: rgb(70, 130, 180);
    width: 100%;
    position: relative;
    bottom: 0pt;
    padding: 7px;
    text-align: center;
  }
  nav a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }

  div {
    margin: 0 auto;
    width: 100%;
  }
  section {
    float: left;
    height: 0;
    margin: 5px;
    width: 60%;
  }

  article {
    border: 2px solid rgb(200, 200, 200);
    margin-top: 5px;
    padding: 10px;
  }

  p {
    text-align: justify;
  }

  aside {
    float: right;
    height: 0;
    width: 39.5%;
    margin-top: -10px;
  }

  aside p {
    background-color: rgb(247, 247, 247);
    padding: 15px;
  }

  footer {
    float: left;
    background-color: rgb(70, 130, 180);
    width: 100%;
    position: fixed;
    bottom: 5px;
    padding: 5px;
  }

  nav a,
  footer p {
    color: white;
    text-align: center;
  }